body {
    background-color: #202020;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor : url('fallout.cur'), auto;
}

.interface {
    width: 1023px;
    height: 768px;
    position: relative;
}

.screen {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
}

.panel {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

.button, .falloutchkbx {
    background-color: #333;
    border: none;
    /* color: white; */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: url('fallout_fat.cur') 10 10, auto;
    border-radius: 5px;
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
}

.display {
    position: absolute;
    top: 550px;
    left: 220px;
    /* font-family:'Fira Mono', monospace; */
    /* animation:colorPulse 5s infinite ease-in-out; */
    font-size: 20px;
    border-color: aliceblue;
    border: wheat;
}

.falloutbtn {
    border: none;
    background: none;
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
    cursor: url('fallout_fat.cur'), auto;
    font-size: 14.5px;
}

.falloutbtn:hover {
    font-size: 15.5px;
    font-style: bold;
    animation:colorPulse2 5s infinite ease-in-out;
}

.checkbox-btn {
    display: inline-flex;
    align-items: left;
    cursor: pointer;
    user-select: none;
    /* padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px; */
    /* background-color: #555; */
    /* color: #fff; */
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
    cursor: url('fallout_fat.cur'), auto;
    font-size: 14px;
    /* transition: background-color 0.2s, transform 0.2s; */
}

.checkbox-btn input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.checkbox-btn span {
    margin-left: 0px; /* Space between checkbox and label text */
}

.checkbox-btn input[type="checkbox"]:checked + span {
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
    background-color: #314200; 
    /* transform: translateY(2px); Simulate pressed down */
}



/* .falloutchkbx {
    margin: 0;
    border: none;
    background: none;
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
    cursor: url('fallout_fat.cur'), auto;
    font-size: 14.5px;
} */

/* .falloutchckbx:hover {
    font-size: 15.5px;
    font-style: bold;
    animation:colorPulse2 5s infinite ease-in-out;
} */

.dropdown-kuno {
    position: relative;
    display: none;
    height: 160px;
    width: 600px;
    overflow-y: auto;
}

.dropdown-kuno2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    height: 160px;
    width: 595px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #222;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(35, 90, 35);
}

ul {
    list-style-type: none; /* Removes the default list-style */
    padding: 0;
    margin: 0;
}

ul li {
    padding-left: 1em; /* Add some padding for the content */
    text-indent: -1em; /* Adjust text position */
    line-height: 16px;
 }

ul li::before {
    content: "•"; /* Add a sign before each item */
    /* padding-right: -10px; Optional: add some space between the sign and the text */
    /* margin-right: -13px; */
}

#answer {
    position: absolute;
    top: 375px;
    left: 235px;
    font-family:'Fira Mono', monospace;
    /* color: green; */
    font-size: 14px;
    width: 570px;
    height: 24px;
    /* border: 1px solid white; */
    animation:colorPulse 5s infinite ease-in-out;
    /* background-image:radial-gradient(#444, #111); */
    /* box-shadow:0 0 5vmin 1vmin #000 inset; */
    /* box-sizing:border-box; */
}
#event {
    position: absolute;
    top: 395px;
    left: 235px;
    font-family:'Fira Mono', monospace;
    font-size: 12.5px;
    width: 570px;
    height: 54px;
    animation:colorPulse 5s infinite ease-in-out;
    overflow-y: scroll;
}

input {
    background-color: transparent; /* Makes the background transparent */
    border: none; /* Removes the border */
    outline: none; /* Removes the outline to prevent it showing on focus */
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
    width: 90%;
}

.spoiler {
    background-color: black;
    color: black;
    font-family:'Fira Mono', monospace;
}

.spoiler:hover {
    background-color: none;
    animation:colorPulse 5s infinite ease-in-out;
}

.spoiler.no-spoiler {
    background-color: none !important;
    animation:colorPulse 5s infinite ease-in-out;
}

.effect, .display {
    font-family:'Fira Mono', monospace;
    animation:colorPulse 5s infinite ease-in-out;
}

@keyframes colorPulse {
0%, 100% {
    color:#0c0;
}
48%, 52% {
    color:#090;
}
50% {
    color:#060;
}
}

@keyframes colorPulse2 {
0%, 100% {
    color:rgb(199, 246, 118);
}
48%, 52% {
    color:rgb(112, 150, 51);
}
50% {
    color:rgb(60, 102, 19);
}
}

#CRT {
background-color: none;
width: 590px;
height: 300px;
position: absolute;
top: 34px;
left: 205px;
border-radius: 20%;

animation:colorPulse 5s infinite ease-in-out;
/* background-image:radial-gradient(#444, #111); */
box-shadow:0 0 5vmin 1vmin #000 inset;
box-sizing:border-box;
overflow:hidden;
padding:10vmin;
}
#CRT:before {
    animation:wave 10s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  #CRT:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-10vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }

  #MS {
    width: 590px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20%;
    animation: shake 20s infinite;
}

  @keyframes shake {
    0%, 95%, 100% {
        opacity: .5;
    }
    1%, 1.5%, 2%, 2.5%, 3%, 3.5%, 4% {
        opacity: 0;
    }
    1.25%, 1.75%, 2.25%, 2.75%, 3.25%, 3.75% {
        opacity: 1;
    }
}
#MS0 {
    background-color: #000;
    width: 590px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20%;
}
#radio-button {
    position: relative;
    width: 25px; /* Adjust according to the actual size */
    height: 25px; /* Adjust according to the actual size */
    cursor: url('fallout_fat.cur'), auto;
    /* background-image: "/UI/MS.png"; */
    background-color: #999;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-blend-mode: multiply;
    background-color: darkred;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;
    border-radius: 100%;
    top: 640px;
    left: 932px;
    z-index: 9999;z-index: 9999;

    /* animation: pressAnimation 0.2s infinite; */
    /* animation: clickAnimation 0.2s ease-in-out; */
}

#radio-button:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes pressAnimation {
    0% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

@keyframes clickAnimation {
    0% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
    50% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

#radioLight {
    position: absolute;
    width: 20px; /* Adjust according to the actual size */
    height: 20px; /* Adjust according to the actual size */
    transition: box-shadow 0.2s;
    border-radius: 100%;
    top: 712px;
    left: 936px;
    z-index: 9999;
    
    }

.light-off {
    background-color: rgb(16, 16, 16);
    box-shadow: 0 0 10px rgb(16, 16, 16), 0 0 20px rgb(16, 16, 16), 0 0 30px rgb(16, 16, 16), 0 0 40px rgb(16, 16, 16);
    animation: glowAnimation 1s infinite;
}

.light-on {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
    animation: glowAnimation 1s infinite, flickerAnimation 0.5s infinite;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
